h1{
    text-align: center;
    font-size: 45px;
    
}

#buttonRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:500px;
    margin:auto;
    margin-bottom: 2%;
    
    
}
#eraser, #clear, #save {
    font-size:25px;
    border-radius:5px;
}

/* paint box stuff */

.box{
    border:solid;
    border-width: 1px;
    height:8px;
    width:8px;
    
    
}

#grid{
    margin:auto;
    border-collapse: collapse;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:500px;
    border-collapse: collapse;
    
    
}

/* display of boxes stuff */

body{
    justify-content: center;
}

#pixelPainter{
    display:flex;
    flex-direction: row;

}



/* color and palette stuff */
.colors{
    border:solid;
    border-width:1px;
    height: 30px;
    width: 30px;
}

#palette{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100px;
    
}


/* color selection box */
#select{
    border:solid;
    border-width: 1px;
    height:100px;
    width: 100px;
    border-radius: 5px;
}